body {
    font-family: Arial, sans-serif;
    background: #dfdfdf;
    margin: 0;
    padding: 40px;
    display: flex;
    justify-content: center;
}

.container {
    width: 100%;
    max-width: 1000px;
}

h1 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 36px;
    font-weight: 800;
    letter-spacing: 1px;
    color: #0b3fa8;
    font-family: 'Poppins', sans-serif;
}

.grid-container {
    display: flex;       
    flex-wrap: wrap;     
    justify-content: space-between; 
}


.card {
    position: relative; 
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 16px;
    height: 200px;
    margin-bottom: 22px;
    color: white;
    font-size: 26px;
    font-weight: 700;
    cursor: pointer;
    transition: transform 0.25s, box-shadow 0.25s;
    width: 49%; 

}

.card img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; 
    z-index: -1; 
    filter: brightness(0.6); 
}

.card:hover {
    transform: scale(1.03);
    box-shadow: 0 10px 25px rgba(0,0,0,0.3);
}