body {
    font-family: Arial, sans-serif;
    background: #000000;
    margin: 0;
    padding: 40px;
    display: flex;
    justify-content: center;
}

.container {
    width: 100%;
    max-width: 1000px;
}

h1 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 36px;
    font-weight: 800;
    letter-spacing: 1px;
    color: #ebee22;
    font-family: 'Poppins', sans-serif;
}

.section {
    background: #646464;
    padding: 25px;
    border-radius: 14px;
    margin-bottom: 28px;
    box-shadow: 0 6px 14px rgba(0, 0, 0, 0.2);
}

h2 {
    color: #000000;
    font-size: 28px;
    margin-bottom: 12px;
}

p {
    font-size: 18px;
    line-height: 1.6;
    color: #333;
}

.img-box {
    width: 100%;
    height: 260px;
    overflow: hidden;
    border-radius: 14px;
    margin-bottom: 15px;
}

.img-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(0.85);
}

.back-button {
    position: fixed;
    top: 20px;
    left: 20px;
    background: #0b3fa8;
    color: white;
    padding: 12px 18px;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 700;
    text-decoration: none;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.25);
    transition: 0.25s;
    font-family: 'Poppins', sans-serif;
}

.back-button:hover {
    transform: scale(1.05);
    background: #09317e;
}